Backtesting==0.3.3
bokeh==2.4.3
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
gitdb==4.0.11
GitPython==3.1.41
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.2
mpld3==0.5.10
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pandas_ta==0.3.14b0
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
seaborn==0.13.2
setuptools==69.0.3
six==1.16.0
smmap==5.0.1
TA-Lib==0.4.32
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
wheel==0.44.0
xyzservices==2024.6.0
